$primary: #2196F3;
$secondary: #F50057;
$mediumGray: #979797;
$bgDarkGray: #F2F2F2;
$bgLightGray: #F6F6F6;
$orange: #FE8622;
$darkOrange: #FE622D;
$flatOrange: #FC4236;
$purple: #B71B46;

$red: #B12534;
$white: #FFFFFF;
$green: #50B139;

$black: #000000;
$lightBlack: #222222;

$silver: #D8D8D8;
$lightSilver: #E7E7E7;

$gray: #7E7E7E;
$darkGray: #333333;



