@font-face {
    font-family: 'RobotoBlack';
    src: url('../assets/fonts/roboto-black-webfont.eot');
    src: url('../assets/fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-black-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-black-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBlackItalic';
    src: url('../assets/fonts/roboto-blackitalic-webfont.eot');
    src: url('../assets/fonts/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-blackitalic-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-blackitalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../assets/fonts/roboto-bold-webfont.eot');
    src: url('../assets/fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-bold-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('../assets/fonts/roboto-bolditalic-webfont.eot');
    src: url('../assets/fonts/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-bolditalic-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoItalic';
    src: url('../assets/fonts/roboto-italic-webfont.eot');
    src: url('../assets/fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-italic-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../assets/fonts/roboto-light-webfont.eot');
    src: url('../assets/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-light-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('../assets/fonts/roboto-lightitalic-webfont.eot');
    src: url('../assets/fonts/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-lightitalic-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-lightitalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../assets/fonts/roboto-medium-webfont.eot');
    src: url('../assets/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-medium-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('../assets/fonts/roboto-mediumitalic-webfont.eot');
    src: url('../assets/fonts/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-mediumitalic-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-mediumitalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../assets/fonts/roboto-regular-webfont.eot');
    src: url('../assets/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-regular-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../assets/fonts/roboto-thin-webfont.eot');
    src: url('../assets/fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-thin-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-thin-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoThinItalic';
    src: url('../assets/fonts/roboto-thinitalic-webfont.eot');
    src: url('../assets/fonts/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-thinitalic-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-thinitalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: 100;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  font-family: "arial", sans-serif;
}