.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  margin: 0.166rem;
  font-size: 1.2rem;
}